<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>BankInfo</title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <script th:href="@{/js/bootstrap.js}"></script>
</head>
<body>
<br/>
<div th:include="header :: header"></div>
<br/>
<div class="nav justify-content-center">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">银行名称</th>
            <th scope="col">银行简称</th>
            <th scope="col">卡类型</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <!--each来进行for循环求值-->
        <tr th:each="bank : ${bankInfos}">
            <th scope="row" th:text="${bank.id}">1</th>
            <td th:text="${bank.bankName}">neo</td>
            <td th:text="${bank.bankShortName}">Otto</td>
            <td th:text="${bank.cardType}">6</td>
            <td><a th:href="@{/bank/toEdit.do(id=${bank.id})}">edit</a></td>
            <td><a th:href="@{/bank/delete.do(id=${bank.id})}">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a th:href="@{/bank/toAdd.do}" class="btn btn-info">add</a>
    </div>
</div>

</body>
</html>
