<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>银行信息</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="" th:href="@{/css/pageStyle.css}">
</head>
<body>
<div class="container">
    <input type="text" id="ctx" hidden="hidden" th:value="${#request.getContextPath()}">
    <div class="search">
        <div class="input-group col-md-8">
            <button class="btn btn-success" type="button" id="add">
                添加
            </button>
            <input class="form-control" type="text" id="username" placeholder="请输入，按回车键">
            <span class="input-group-btn">
					<button class="btn btn-primary" type="button" id="search">
																		查询
					</button>
			</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="category-list">
                    <table class="table table-striped table-hover" id="dataTable">
                        <thead>
                        <tr>
                            <th>银行名称</th>
                            <th>银行简称</th>
                            <th>卡类型</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8" align="center" style="position: fixed; bottom: 10%;">
            <!-- 分页控件，标签必须是<ul> -->
            <ul id="pageButton" class="pagination-centered"></ul>
        </div>
    </div>
</div>

<!--编辑框-->
<div class="modal fade" id="modify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="m_id" hidden="hidden">
                <div class="form-group">
                    <label class="control-label" for="m_bankName">银行名称：</label>
                    <input type="text" class="form-control" id="m_bankName" placeholder="">
                </div>
                <div class="form-group">
                    <label class="control-label" for="m_bankShortName">银行简称：</label>
                    <input type="text" class="form-control" id="m_bankShortName" placeholder="">
                </div>
                <div class="form-group">
                    <label class="control-label" for="m_cardType">卡类型：</label>
                    <input type="text" class="form-control" id="m_cardType" placeholder="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="modify()">提交</button>
            </div>
        </div>
    </div>
</div>

<!--新增框-->
<div class="modal fade" id="addData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="id" hidden="hidden">
                <div class="form-group">
                    <label class="control-label" for="bankName">银行名称：</label>
                    <input type="text" class="form-control" id="bankName" placeholder="">
                </div>
                <div class="form-group">
                    <label class="control-label" for="m_bankShortName">银行简称：</label>
                    <input type="text" class="form-control" id="bankShortName" placeholder="">
                </div>
                <div class="form-group">
                    <label class="control-label" for="m_cardType">卡类型：</label>
                    <input type="text" class="form-control" id="cardType" placeholder="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="add()">提交</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
<script th:src="@{/js/bootstrap-paginator.js}"></script>
<script src="../js/util.js" th:src="@{/js/util.js}"></script>

<script type="text/javascript">
    const ctx = $("#ctx").val();
    $(function () {
        // 查询第一页数据
        getPage(1);
        // 新增
        $("#add").click(function () {
            reset();
            $('#addData').modal('show');
        });

        // 搜索
        $("#search").click(function () {
            getPage(1);
        });

        // 回车触发查询
        $("#username").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#search").trigger("click");
            }
        });
    });

    // 获取指定页码的数据
    function getPage(pageNo) {
        let dataRow = "";
        $.ajax({
                url: ctx + "/merchant/list.do",
                type: "post",
                data: {
                    "page": pageNo,
                    "rows": "8"
                },
                dataType: "json",
                success: function (response) {
                    dataRow = "";
                    if (response.rows.length > 0) {
                        $.each(response.rows, function (i, r) {
                            dataRow += '<tr>'
                                + '<td>'
                                + r.bankName
                                + '</td>'
                                + '<td>'
                                + r.bankShortName
                                + '</td><td>'
                                + r.cardType + '</td>'
                            ;
                            dataRow += '<td><a href="javascript:remove(' + r.id + ')" style="color: #CA0C16;">删除' +
                                '</a>&nbsp;&nbsp;<a href="javascript:edit(' + JSON.stringify(r).replace(/\"/g,"'") + ')">编辑</a></td></tr>';
                        });
                    }

                    // console.log(dataRow);
                    $("#dataTable tbody").empty();
                    $("#dataTable tbody").append(dataRow);
                    // 分页按钮
                    const element = $('#pageButton');
                    const options = {
                        bootstrapMajorVersion: 4,
                        currentPage: pageNo, // 当前页数
                        numberOfPages: 5, // 显示按钮的数量
                        totalPages: response.pages, // 总页数
                        itemTexts: function (type, page) {
                            switch (type) {
                                case "first":
                                    return "首页";
                                case "prev":
                                    return "上一页";
                                case "next":
                                    return "下一页";
                                case "last":
                                    return "末页";
                                case "page":
                                    return page;
                            }
                        },
                        // 点击事件，用于通过Ajax来刷新整个list列表
                        onPageClicked: function (event, originalEvent, type, page) {
                            getPage(page);
                        }
                    };

                    element.bootstrapPaginator(options);
                }
            }
        )
    }

    //删除
    function remove(id) {
        if (confirm("确定删除数据？")) {
            $.ajax({
                type: "POST",
                url: ctx + "/merchant/delete.do",
                traditional: true,
                data: {
                    id: id
                },
                success: function (data) {
                    getPage(1);
                },
                error: function (e) {
                    //alert("ERROR: ", e);
                    console.log("ERROR: ", e);
                }
            });
        }
    }

    function edit(obj) {
        $('#m_id').val(obj.id);
        $('#m_bankName').val(obj.bankName);
        $('#m_bankShortName').val(obj.bankShortName);
        $('#m_cardType').val(obj.cardType);
        $('#modify').modal('show');
    }

    //提交修改
    function modify() {
        //获取模态框数据
        const id = $("#m_id").val();
        const bankName = $("#m_bankName").val();
        const bankShortName = $("#m_bankShortName").val();
        const cardType = $("#m_cardType").val();

        const command = {"id": id, bankName: bankName, bankShortName: bankShortName, cardType: cardType};

        $.ajax({
            url: ctx + "/merchant/edit.do",
            type: "POST",
            data: command,
            dataType: "json",
            success: function (response) {
                if (response.success === true) {
                    // 清空表单
                    reset();
                    $('#modify').modal('hide');
                    getPage(1);
                } else {
                    alert(response.message);
                }
            }
        });
    }

    function add(){
        //获取模态框数据
        const bankName = $("#bankName").val();
        const bankShortName = $("#bankShortName").val();
        const cardType = $("#cardType").val();

        const command = {bankName: bankName, bankShortName: bankShortName, cardType: cardType};

        $.ajax({
            url: ctx + "/merchant/add.do",
            type: "POST",
            data: command,
            dataType: "json",
            success: function (response) {
                if (response.success === true) {
                    // 清空表单
                    reset();
                    $('#addData').modal('hide');
                    getPage(1);
                } else {
                    alert(response.message);
                }
            }
        });
    }

    function reset() {
        $("#m_id").val("");
        $("#m_bankName").val("");
        $("#m_bankShortName").val("");
        $("#m_cardType").val("");
    }
</script>
</body>
</html>