<header th:fragment="addit">
    <div class="modal" id="addition">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">新增银行</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <form class="form-horizontal" th:action="@{/bank/add.do}" method="post">
                        <div class="mb-3 mt-3">
                            <input type="text" class="form-control" name="bankName" id="bankName"
                                   placeholder="bankName" required/>
                        </div>
                        <div class="mb-3 mt-3">
                            <input type="text" class="form-control" name="bankShortName" id="bankShortName"
                                   placeholder="bankShortName" required/>
                        </div>
                        <div class="mb-3 mt-3">
                            <input type="text" class="form-control" name="cardType" id="cardType"
                                   placeholder="cardType"/>
                        </div>
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" value="Submit" class="btn btn-outline-primary btn-sm"/>
                            <input type="reset" value="Reset" class="btn btn-outline-primary btn-sm"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
