<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>首页</title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <script th:href="@{/js/bootstrap.js}"></script>
</head>
<body class="container">
<br/>
<h1>添加银行</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal" th:action="@{/bank/add.do}" method="post">
        <div class="form-group">
            <label for="bankName" class="col-sm-2 control-label">bankName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="bankName" id="bankName" placeholder="bankName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="bankShortName" class="col-sm-2 control-label">bankShortName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="bankShortName" id="bankShortName"
                       placeholder="bankShortName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="cardType" class="col-sm-2 control-label">cardType</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="cardType" id="cardType" placeholder="cardType"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info"/>
                <input type="reset" value="Reset" class="btn btn-info"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>
