<header th:fragment="edit">
    <div class="modal" id="editor">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">修改银行信息</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <form class="form-horizontal" th:action="@{/bank/edit.do}" method="post">
                        <input type="text" class="form-control" name="oriId" id="oriId" hidden/>
                        <div class="mb-3 mt-3">
                            <input type="text" class="form-control" name="alterBankName" id="alterBankName"
                                   placeholder="bankName"
                                   required/>
                        </div>
                        <div class="mb-3 mt-3">
                            <input type="text" class="form-control" name="alterBankShortName" id="alterBankShortName"
                                   placeholder="bankShortName" required/>
                        </div>
                        <div class="mb-3 mt-3">
                            <select class="form-select" name="alterCardType" id="alterCardType">
                                <option value="all">默认</option>
                                <option value="CreditCard">信用卡</option>
                                <option value="DebitCard">借记卡</option>
                            </select>
                        </div>
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" value="Submit" class="btn btn-outline-primary btn-sm"/>
                            <a th:href="@{/bank/list.do}" class="btn btn-outline-primary btn-sm">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
